<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
<script>
    function notifyMe() {
  // Проверка поддержки браузером уведомлений
  if (!("Notification" in window)) {
    console.log("This browser does not support desktop notification");
  }

  // Проверка разрешения на отправку уведомлений
  else if (Notification.permission === "granted") {
    // Если разрешено, то создаем уведомление
    var notification = new Notification("Hi there!");
  }

  // В противном случае, запрашиваем разрешение
  else if (Notification.permission !== 'denied') {
    Notification.requestPermission(function (permission) {
      // Если пользователь разрешил, то создаем уведомление 
      if (permission === "granted") {
        var notification = new Notification("Thanks for subscribe!");
      }
    });
  }

}
</script>

<script>
    function SaySomething (smth) {
        var voices = speechSynthesis.getVoices();
        var utterance = new SpeechSynthesisUtterance(smth);
        utterance.voice = voices[1];
        speechSynthesis.speak(utterance);
    }
</script>

<script>
    console.log("Старту-у-ем! (Игорь Негода, 2018)");
    var recognizer = new webkitSpeechRecognition();
function RecognizeRU(){
    console.log("Кнопку нажимаем! Voice Recognition started.");
    // Создаем распознаватель
    // Ставим опцию, чтобы распознавание началось ещё до того, как пользователь закончит говорить
    recognizer.interimResults = true;

// Какой язык будем распознавать?
    recognizer.lang = 'ru-Ru';

// Используем колбек для обработки результатов
    recognizer.onresult = function (event) {
        var result = event.results[event.resultIndex];
        if (result.isFinal) {
            a = result[0].transcript;
            $("#search-input")[0].value=a;
            $("#search-button")[0].click();
        } else {
            console.log('Промежуточный результат: ', result[0].transcript);
        }
    };

// Начинаем слушать микрофон и распознавать голос
setTimeout(function(){
console.log("Поехали!")    
recognizer.start();}, 3000);

}
</script>

<script>
        //GeoLocation Service
        navigator.geolocation.getCurrentPosition(function(position) {
              lat = position.coords.latitude;
              long = position.coords.longitude;
              console.log("Latitude: "+lat);
              console.log("Longitude: "+long)
              document.cookie = "lat="+lat;
              document.cookie = "long="+long;

        });

    </script>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Alpha Gate</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-light" id="navbar1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.search_index') }}">Gamma Search<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('weather.get_weather') }}">Beta Weather</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">All services</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="{{ url_for('news.get_news') }}">Project News</a>
                    <a class="dropdown-item" href="/about">About</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://github.com/AlphaSearch/Alpha_A">Github page</a>
                </div>
            </li>
            <li>
                <button class="btn btn-outline-info my-2 my-sm-0" onclick="notifyMe()">Subscribe</button>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{ url_for('main.get_search') }}">
            <input name="s" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

{% block content %}
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
{% endblock %}

</body>
</html>
