{% extends "base.html" %}
{% block title %}Gamma Search{% endblock %}
{% block content %}
<img src="{{ url_for('.static', filename='img/gamma.png') }}" class="rounded mx-auto d-block" alt="Gamma Search Engine">
<h4 align="center" class="display-4">Gamma Search</h4>
<br><br><br>
<form action="{{ url_for('.get_search') }}">
    <div class="mx-auto col col-lg-5">
        <div class="input-group mb-3">

            <input type="text" name="s" class="form-control" placeholder="{{ exmp }}" aria-label="{{ exmp }}"
                   aria-describedby="basic-addon1">
            <button type="submit" class="btn btn-outline-primary">Go</button>

        </div>
    </div>
</form>
{% endblock %}