{% extends "base.html" %}
{% block title %}Gamma SE - Found {{ t_num }} results{% endblock %}

{% block content %}
    <br>
    <br>
    <div class="container">
        <div class="row"></div>
        {% for item in results %}
        <p class="lead"><a href="{{item[1]}}">{{item[0]}}</a><br>
            {{item[2]}}
        </p>
        <div class="w-100"></div>
        {% endfor %}
    </div>
    <div class="container">
        <p>
            <small>Found {{t_num}} results by request «{{r_name}}»</small>
        </p>
    </div>
{% endblock %}